<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlyedu.ordermigratedbtool.dao.RelativeStudentMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from RelativeStudent
        where Id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByUserInfoId" parameterType="java.lang.Integer">
        delete
        from RelativeStudent
        where UserInfoId = #{userInfoId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByEosStudentId" parameterType="java.lang.Integer">
        delete
        from RelativeStudent
        where EosStudentId = #{eosStudentId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.RelativeStudent"
            useGeneratedKeys="true" keyProperty="id">
        insert into RelativeStudent (UserInfoId, EosStudentId)
        values (#{userInfoId,jdbcType=INTEGER}, #{eosStudentId,jdbcType=INTEGER})
    </insert>
    <select id="getEosStudentRelative" parameterType="java.lang.Integer"
            resultType="com.onlyedu.ordermigratedbtool.model.entity.RelativeStudent">
        select *
        from NewClassesAdmin.dbo.RelativeStudent
        where EosStudentId in (
            select EosStudentId
            from NewClassesAdmin.dbo.RelativeStudent
            where UserInfoId = #{userInfoId,jdbcType=INTEGER}
        )
    </select>
    <select id="getEosStudentRelativeUserInfo" parameterType="java.lang.Integer"
            resultType="com.onlyedu.ordermigratedbtool.model.entity.RelativeStudent">
        select *
        from NewClassesAdmin.dbo.RelativeStudent
        where EosStudentId in (
            select EosStudentId
            from NewClassesAdmin.dbo.RelativeStudent
            where EosStudentId = #{eosStudentId,jdbcType=INTEGER}
        )
    </select>

    <insert id="batchInsert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.RelativeStudent">
        insert into NewClassesAdmin.dbo.RelativeStudent (
        [UserInfoId],[EosStudentId]
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userInfoId,jdbcType=INTEGER},
            #{item.eosStudentId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

</mapper>