<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlyedu.ordermigratedbtool.dao.UserCallByWhyMapper">

<!--  <insert id="insert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.UserCallByWhy">-->
<!--    insert into UserCallByWhy (Id, WhyCallType)-->
<!--    values (#{id,jdbcType=INTEGER}, #{whyCallType,jdbcType=VARCHAR})-->
<!--  </insert>-->
  <select id="getAll"  resultType="com.onlyedu.ordermigratedbtool.model.entity.UserCallByWhy">
    select * from NewClassesAdmin.dbo.UserCallByWhy
  </select>
</mapper>